
a {
    text-decoration: none;
    color: #171717;
}

.formContainer {
    padding: 50px;
    display: flex;
    justify-content: space-between;
}

form {
    margin: 50px;
    padding: 50px;
    display: grid;
    gap: 20px;
}

.title {
    text-align: center;

    font-size: 40px;
    font-weight: bold;
}

input {
    width: 300px;
    height: 30px;

    border-radius: 7px;
    border: 1px solid #171717;
}

button:hover {
    cursor: pointer;
    border: 1px solid #171717;
}

button {
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 10px;
    
}

.signIn button {
    background-color: #824ACA;
    color: #fff;
}

.signIn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.signUp {
    display: flex;
    justify-content: center;
    align-items: center;
}